name: Deploy to GitHub Pages

on:
  push:
      branches:
        - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Pages
        uses: actions/configure-pages@v2

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: ./frontend/public  # Point to root where index.html exists

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
